.git
.idea
.vscode
.ccg
logs
**/logs
**/.DS_Store
**/node_modules
**/dist
**/classes
**/generated-sources
**/generated-test-sources
**/maven-status
**/surefire-reports
**/*.original
docker/**/logs
docker/**/data
docker/nginx/html/dist
docker/.env
images
